
.section {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 70rem;
  //min-width: 10rem;
  margin-left: 20rem;
}

.game-section {
  margin: 0;
}

.all-games {
  color: #403449;
  padding-top: 2rem;
  padding-left: 2rem;
  margin: 0;
  font-weight: lighter;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex-basis: calc(100% / 4 - 1rem - 1rem);
    flex-direction: row;
    flex-grow: 0;
    margin: 1rem auto;
  }
}

.photo {
  max-height: 16rem;
}

.title {
  text-decoration: none;
}

.views {
   font-size: .8rem;
  color: grey;
  margin: .2rem;
}
