// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'sidebar';
@import 'grid';

.game-item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  flex-grow: 1;
  max-width: 12rem;
}
