// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
//@import 'reset';

.section {
  padding: 2rem;
}

.container {
  max-width: 30rem;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  border: .1rem solid black;
  flex-basis: calc(100% / 4);
  position: absolute;
  height: 100vh;
  background: #49365c;
  //background: rbga(128,0,128,0.8);
}

.logo {
  margin: 0;
  padding: 0;
  text-align: center;

&__pic {
  width: 10rem;
  height: 4rem;
  justify-content: center;
}
}

.search {
      padding-top: 2rem;
      text-align: center;
      align-items: center;


&__bar {
      width: 12rem;
      padding: 8px 16px;
      background:rgba(50, 50, 50, 0.2);
      border: 0.1px solid black;
}
&__icon {
      width: 1rem;
      height: 3rem;
      color: white;
}
}

.links {
      display: flex;
      flex-direction: column;
      padding: 2rem 0;

  .btn {
    width: 20rem;
    line-height: 3rem;
    margin: .1rem 0;
    text-align: left;
    font-size: 1rem;
    border: none;
    color: white;
    background: #49365c;

    &:hover {
      background: rgba(255, 255, 255, 0.4);
      border: 0.1rem black solid;
    }
  }

    .btn-icon {
      margin: 1rem;
      color: white;
    }
  }

  .fwp {
    display: flex;
    padding: 0;
    flex-direction: column;
    margin: 0;

  &-button {
    display: flex;
    font-size: 2rem;
    border-bottom: .5rem solid green;
    justify-content: space-between;
  }

  &-buton__text {
    font-size: 2rem;
  }

  &-btn__icon {}
}
